<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-phone fa-10x"></i>
    <h1 class="display-3">CleanComm</h1>
    <p>You can contact us via<p>
    <a class="btn btn-light btn-lg" href="mailto:tripathipyush@gmail.com" role="button">  <i class="fa fa-envelope"></i> E-mail</a>
    <a class="btn btn-light btn-lg">  <i class="fa fa-phone"></i> +919305395092</a>
  </div>
</div>

<%- include('partials/footer') %>
