<%- include('partials/header') %>
<div class="jumbotron center">
  <i class="fas fa-location-arrow fa-10x"></i>
  <hr>
  <h1></h1>
  <hr>
  <button type="button" onclick="getlocation()">Get Location</button>
  <form action="/givelocation" method="POST">
    <div class="form-group">
      <label>Enter Coords from above</label>
      <input type="text" class="form-control" name="coord" autocomplete="off" required>
      <label>Enter Contact Information</label>
      <input type="text" class="form-control" name="contact" autocomplete="off" required>
    </div>
    <button class="btn btn-outline-success" type="submit">Give Location</button>
  </form>
</div>
<%- include('partials/footer') %>
<script>
  const getlocation = () => {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        console.log(position);
        const lat = position.coords.latitude;
        const long = position.coords.longitude;
        console.log(lat);
        console.log(long);
        const des = document.querySelector("h1");
        des.innerHTML = lat + "," + long;
      });
    }
  };
</script>
