<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/requests"> Requests <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donInfo">Donations</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Drop your Suggestions here</h1>
<hr>
<div  class="jumbotron center">
<form class="" action="/suggestion" method="post">
  <div class="container">
    <label class="email" for="text">E-mail: </label>
    <input type="email" id="email" placeholder="email" value="" name="email" required>
  </div>
  <div class="sug">
    <label for="text">Suggestion: </label>
    <textarea type="text" id="suggestion" name="suggestion" rows="1" cols="25" required></textarea>
  </div>
    <button class="btn btn-light btn-lg lone" type="submit">Submit</button>
</form>
</div>

<%- include('partials/footer') %>
